<form class="container search-bar">
  <div class="search-bar__wrapper row no-gutters">
    <div class="col-lg-6">
      <div class="row no-gutters">
        <div class="col-lg-8">
          <div class="form-group search-box__item">
            <select class="form-control">
              <option>Phim</option>
              <option>PhimA</option>
              <option>PhimB</option>
              <option>PhimC</option>
            </select>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group search-box__item">
            <select class="form-control">
              <option>Rạp</option>
              <option>RạpA</option>
              <option>RạpB</option>
              <option>RạpC</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row no-gutters">
        <div class="col-lg-4">
          <div class="form-group search-box__item">
            <select class="form-control">
              <option>Ngày Xem</option>
              <option>NgàyA</option>
              <option>NgàyB</option>
              <option>NgàyC</option>
            </select>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group search-box__item">
            <select class="form-control">
              <option>Suất Chiếu</option>
              <option>SuấtA</option>
              <option>SuấtB</option>
              <option>SuấtC</option>
            </select>
          </div>
        </div>

        <div class="col-lg-4">
          <button class="btn btn-primary w-100">Mua Vé Ngay</button>
        </div>
      </div>
    </div>
  </div>
</form>
