<div class="showtimes-wrapper">
  <!-- Title -->
  <div class="heading">
    <h1>Showtimes</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem
      doloremque eum quos ad. Nemo, ut ab.
    </p>
  </div>
  <!-- Button Categories -->
  <div class="showtimes__categories mb-4">
    <button class="btn btn-category-active">UpComing</button>
    <button class="btn btn-category">Next Coming</button>
  </div>

  <div>
    <app-now-showing></app-now-showing>
  </div>

  <!-- <div>
    <app-upcoming></app-upcoming>
  </div> -->
</div>
