<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <!-- Logo -->
  <a class="navbar-brand" href="#">
    <img src="../../../assets/logo-9pm.png" />
  </a>
  <!-- Hamburger -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menu -->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Showtimes<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Theatres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Download</a>
      </li>
    </ul>
    <!-- Button -->
    <div>
      <button class="btn btn-quiet mr-2">Sign In</button>
      <button class="btn btn-primary">Sign Up</button>
    </div>
  </div>
</nav>
