<div class="news-list">
  <div class="news-list__lg">
    <div class="col-sm-12 col-md-6">
      <div class="news-item">
        <div class="news-item__thumbnail">
          <img src="../../../assets/img/index-news-lg-1.png" alt="movie-news" />
        </div>
        <a href="#"
          >Truy Cùng Giết Tận - Cuộc tái ngộ của hai 'ông hoàng phòng vé' xứ
          Hàn</a
        >
        <p class="news-item__description">
          Sau 7 năm kể từ New World – bộ phim đạt thành tích hơn 4.68 triệu vé,
          hai tên tuổi lão làng trong làng điện ảnh Hàn Quốc mới tiếp tục tái
          hợp trong Truy Cùng Giết Tận – một bộ phim hành động siêu “nặng đô”.
        </p>
        <div class="news-item__icon">
          <div class="news-item__like">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span>1</span>
          </div>
          <div class="news-item__comment">
            <i class="fa fa-star" aria-hidden="true"></i>
            <span>0</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="news-item">
        <div class="news-item__thumbnail">
          <img src="../../../assets/img/index-news-lg-2.png" alt="movie-news" />
        </div>
        <a href="#"
          >6 đạo diễn tỉ đô làm nên thành công của những bom tấn đình đám nhất
          Hollywood</a
        >
        <p class="news-item__description">
          Hollywood luôn yêu thích những dự án điện ảnh với tiềm năng trở thành
          bom tấn. Trên con đường đó, đạo diễn là một trong những vị trí quan
          trọng nhất để “phù phép” cho một câu chuyện trở nên vĩ đại. Đằng sau
          những tác phẩm nổi tiếng nhất luôn có bóng dáng của
        </p>
        <div class="news-item__icon">
          <div class="news-item__like">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span>1</span>
          </div>
          <div class="news-item__comment">
            <i class="fa fa-star" aria-hidden="true"></i>
            <span>0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="news-list__sm-xs">
    <div class="news-list__sm col-sm-12 col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="news-item">
            <div class="news-item__thumbnail">
              <img
                src="../../../assets/img/index-news-sm-1.png"
                alt="movie-news"
              />
            </div>
            <a href="#">Gái Già Lắm Chiêu V – Những cuộc đời vương giả</a>
            <p class="news-item__description">
              Bộ phim qui tụ dàn diễn viên nổi tiếng nhiều thế hệ từ Bắc tới
              Nam, trong đó NSND Lê Khanh, NSND Hồng Vân sẽ tái hợp và đóng cùng
              nữ diễn viên trẻ Kaity Nguyễn để hóa thân thành ba chị em xinh đẹp
              nhà họ Lý giàu sang, nổi danh trong giới thượng lưu trí thức đương
              đại.
            </p>
            <div class="news-item__icon">
              <div class="news-item__like">
                <i class="fa fa-comment" aria-hidden="true"></i>
                <span>1</span>
              </div>
              <div class="news-item__comment">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="news-item">
            <div class="news-item__thumbnail">
              <img
                src="../../../assets/img/index-news-sm-2.png"
                alt="movie-news"
              />
            </div>
            <a href="#"
              >Kaity Nguyễn trở thành mỹ nhân mới của vũ trụ Gái Già Lắm
              Chiêu</a
            >
            <p class="news-item__description">
              Sau khi tiết lộ nhân tố đầu tiên là NSND Lê Khanh sẽ tiếp tục tham
              gia phần tiếp theo của Gái già lắm chiêu với mái tóc được cắt ngắn
              đầy mạnh mẽ và nam tính. Kaity Nguyễn sẽ là mỹ nhân tiếp theo nối
              gót hai đàn chị là Diễm My 9X và Ninh Dương Lan Ngọc gia nhập vũ
              trụ điện ảnh Gái Già Lắm Chiêu.
            </p>
            <div class="news-item__icon">
              <div class="news-item__like">
                <i class="fa fa-comment" aria-hidden="true"></i>
                <span>1</span>
              </div>
              <div class="news-item__comment">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news-list__xs col-sm-12 col-md-4">
      <div class="news-item-xs">
        <div class="news-item-xs__thumbnail">
          <img src="../../../assets/img/index-news-xs-1.png" alt="movie-news" />
        </div>
        <div class="news-item-xs__title">
          <span
            >5 lý do khiến bạn không thể bỏ qua bộ phim Cậu Bé Người Gỗ
            Pinocchio</span
          >
        </div>
      </div>

      <div class="news-item-xs">
        <div class="news-item-xs__thumbnail">
          <img src="../../../assets/img/index-news-xs-2.png" alt="movie-news" />
        </div>
        <div class="news-item-xs__title">
          <span>TENET công bố ngày khởi chiếu chính thức tại Việt Nam</span>
        </div>
      </div>

      <div class="news-item-xs">
        <div class="news-item-xs__thumbnail">
          <img src="../../../assets/img/index-news-xs-3.png" alt="movie-news" />
        </div>
        <div class="news-item-xs__title">
          <span>Khi phụ nữ không còn ở thế trốn chạy của nạn nhân</span>
        </div>
      </div>

      <div class="news-item-xs">
        <div class="news-item-xs__thumbnail">
          <img src="../../../assets/img/index-news-xs-4.png" alt="movie-news" />
        </div>
        <div class="news-item-xs__title">
          <span>Gerard Butler cùng bồ cũ Deadpool tham gia Greenland</span>
        </div>
      </div>
    </div>
  </div>
</div>
